{% extends 'base.html' %}
{% block title %}Footwear {% endblock %}
{% block css %} <link rel="stylesheet" href="{{ url_for('static',filename='css/items/items.css') }}"> {% endblock %}
{% block content %}
  <div class="container">
    <div class="row">

      {% for i in item %}
      <div class="column">
        <div class="card">
          <img class="card-img-clothing" src="{{ url_for('static', filename='img/' + i[3] + '/' + i[4] + '/' + i[5]) }}" alt="Card image cap">
          <h4>{{ i[1] }}</h4>
          <h5>${{ i[2] }}</h5>
          <a href="/addtocart/{{ i[3] }}/allFootwear/{{ i[0] }}"><button type="button" class="btn btn-secondary">Add to Cart</button></a>
          {% if session['user'] is not none %}
            {% if i[0] in wishlist %}
              <a class="account" href="/user/wishlist/{{ i[3] }}/allFootwear/{{ i[0] }}"><i class="far fa-heart in-wish-list-already"></i></a>
            {% else %}
              <a class="account" href="/user/wishlist/{{ i[3] }}/allFootwear/{{ i[0] }}"><i class="far fa-heart"></i></a>
            {% endif %}
          {% endif %}
        </div>
      </div>
      {% endfor %}
      </div>
  </div>

{% endblock %}
