<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/processpayment/" method="POST">
      <input type="text" name="firstname" value="">
      <input type="text" name="lastname" value="">
      <input type="text" name="csc" value="">
      <input type="text" name="date" value="">
      <input type="text" name="cardnumber" value="">
      <input type="text" name="street" value="">
      <input type="text" name="city" value="">
      <input type="text" name="state" value="">
      <input type="text" name="zipcode" value="">
      <input type="text" name="country" value="">
      <button type="submit" name="button">Place</button>
    </form>
  </body>
</html> -->

{% extends 'base.html' %}
{% block title %} Checkout {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/checkout.css') }}"> {% endblock %}
{% block content %}
<h1>CHEKOUT</h1>
<section class="inputForms">
  <label for="name">1. SIGN IN </label>
  <input type="text" id="name" name="name" required>
  <label for="name">2. DELIVERY</label>
  <input type="text" id="name" name="name" required>
  <figcaption>we only ship to address within the united states</figcaption>
  <form class="" action="/processpayment/" method="POST">
    <input class="size" type="text" name="firstname" placeholder="First Name" value="">
    <input class="size" type="text" name="lastname" placeholder="Last Name" value="">
    <input class="displayInputBlock" type="text" placeholder="Address" name="street" value="">
    <input type="displayInputBlock" name="" placeholder="Apt, suite, floor,etc(optional)" value="">
    <div class="checkBox">
      <!-- <input type="checkbox" id="scales" name="scales"> -->
      <label for="scales">Scales</label>
    </div>
    <input class="sizeInputBottom" type="text" name="zipcode" placeholder="Zip code" value="">
    <select name="state" id="pet-select">
      <option value="AL">Alabama</option>
      <option value="IN">Indiana</option>
      <option value="MY">Maryland</option>
      <option value="MN"> Minnesota</option>
      <option value="MI">Missouri</option>
      <option value="NH">New Hampshires</option>
      <option value="NC">North Carolina</option>
      <option value="MA">Massachuetts</option>
    </select> <input class="sizeInputBottom" type="text" name="city" placeholder="City" value="">
    <input class="submitButton" type="submit" value="CONTINUE TO SHIPPING OPTIONS">
    <input type="text" name="cardnumber" value="" placeholder="Card Number">
    <input style="display:block;" type="text" name="date" value="" placeholder=Date>
    <input type="text" name="csc" value="" placeholder="CVV">
    <input class="submitButton" type="submit" value="SUBMIT">
  </form>
</section>

<section class="rightSection">
  <label for="name">ORDER SUMMARY </label>
  <input class="InputRightSection" type="text" id="name" name="name" required>
</section>

{% endblock %}
