<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/processpayment/" method="POST">
      <input type="text" name="firstname" value="">
      <input type="text" name="lastname" value="">
      <input type="text" name="csc" value="">
      <input type="text" name="date" value="">
      <input type="text" name="cardnumber" value="">
      <input type="text" name="street" value="">
      <input type="text" name="city" value="">
      <input type="text" name="state" value="">
      <input type="text" name="zipcode" value="">
      <input type="text" name="country" value="">
      <button type="submit" name="button">Place</button>
    </form>
  </body>
</html>
