{% extends 'base.html' %}
{% block title %} Account {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/account.css') }}">
{% endblock %}
{% block content %}
  <h1 class="title-account" >ACCOUNT</h1>
  {% if user %}
  <p class="welcome-message">Welcome, {{user}}</p>
  {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h6>Wishlist</h6>
        <p>Your wishlist is currently empty</p>
        <hr>
      </div>
      <div class="col-md-6">
        <h6>Orders</h6>
        <p>No orders have been placed yet</p>
        <hr>
      </div>
      <div class="col-md-6">
        <h6>Personal Details</h6>
        <p>View and manage your personal information</p>
        <div class="go-to-container">
          <a class="go-to-link" href="/personal/">Go to personal details ></a>
        </div>
        <hr>
      </div>
      <div class="col-md-6">
        <h6>Payment Methods</h6>
        <p>View and manage your payments</p>
        <div class="go-to-container">
          <a class="go-to-link" href="#">Go to billing information ></a>
        </div>
        <hr>
      </div>
    </div>
  <form action="/signout/">
    <div class="logout-link">      
      <button class="btn btn-secondary">Sign Out</button>
    </div>
  </form>
  </div>

<!-- <img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/cat_relaxing_on_patio_other/1800x1200_cat_relaxing_on_patio_other.jpg"> -->
{% endblock %}
