{% extends 'base.html '%}
{% block title %} Personal Details {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/personaldetails.css') }}">
{% endblock %}
{% block content %}

<div class="container">
  <h1>Personal Details</h1>
  <div class="container">
    <section>
      <div class="form-container">
        <form class="name-form" action="/change_personal_detail/" method="POST">
          <h6>Profile</h6>
          <div class="">
            <input type="text" name="firstname" placeholder="First name">
          </div>
          <div class="">
            <input type="text" name="lastname" placeholder="Last name">
          </div>
          <button class="btn btn-primary" type="submit" name="button">Update Details</button>
        </form>
      </div>
    </section>

    <section>
      <form class="name-form" action="/change_password/" method="POST">
        <h6>Password</h6>
        <div class="">
          <input type="password" onchange="validateFields();" id="currentpass" name="currentpass" placeholder="Current password">
        </div>
        <div class="">
          <input type="password" onchange="validateFields();" id="newpassword" name="newpassword" placeholder="New password">
          <br>
          <div class="span-msg-container">
            <span id="empty-field-msg" style="color:red;"></span>
          </div>
        </div>
        <button class="btn btn-primary" id="password-update-btn" type="submit" name="button">Update Password</button>
      </form>
    </section>
  </div>
</div>
  {% block js %}
  <script type="text/javascript" src="{{ url_for('static',filename='js/personaldetails.js') }}"></script>
  {% endblock %}
{% endblock %}
