* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  float: right;
  display: inline;
  padding-left: 15px;
}

.container-portfolio-section {
  float: left;
  width: 100%;
  height: 50px;
  margin-top: 119px;
  margin-bottom: 17px;
  background-color: lightgray;
}

.Child-of-container-portfolio {
  width: 100;
  padding-left: 4em;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  /* margin: 0 auto; */
  padding: 0 10px;
}

.container{
  margin: auto;
  margin-top: 5%;

}

/* Remove extra left and right margins, due to padding */
.row {
  margin-top: 5%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  width: 100%;
}

.card{
  border-style: hidden;
  margin-bottom: 10%;
}

.btn-secondary{
  text-align: center;
  width: 100%;
  font-size: large;
  background-color: white;
  color: black;
}

/* icon styling */
.card i:hover{
  color:pink;
}
