  .container{
    text-align: center!important;
    max-width: 850px!important;
    padding-bottom: 40px;
  }
  .title-account{
    padding-top:40px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    text-align: center;
  }
  h6{
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 10px;
    font-weight: bold;
  }
  p{
    text-align: left;
    padding-bottom: 20px;
  }
  .welcome-message{
    text-align: center;
    margin: 5px;
    padding-bottom: 30px;
  }
  .sign-out-link{
    text-decoration: underline;
    color:black;
  }
  .go-to-link{
    color:black;
  }
  .go-to-link:hover{
    color:black;
  }
  .go-to-container{
    text-align: left;
  }
