 .header-section {
   width: 100%;
 }

 .btn-light {
   border-radius: 0%;
   width: 150px;
   height: 50px;
   font-weight: bold;
 }

 .button-container {
   padding-bottom: 30px;
   position: absolute;
   text-align: center;
   bottom: 0;
   width: 100%;
 }

 .header-container {
   height: 700px;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
 }

 .category-captions {
   color: #ffffff;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 1px;
 }

/* Mobile responsive */
 @media screen and (max-width:768px) {
   .header-container {
     height: 400px;
     background-position-x: 30%;
   }
 }
