{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}
{% block content %}
      <section class="header-section">
            <div style="background-image: url('{{ url_for('static',filename='img/shirts.jpg') }}' );" class="header-container">
                 <div class="button-container">
                  <h2 class="category-captions"> Clothes </h2>
                  <button class="btn btn-light">See More</button>
                 </div>
            </div>
      </section>
      <div style="background-image: url('{{ url_for('static',filename='img/eyeglass.jpg') }}' );" class="header-container">
            <div class="header-container">
                 <div class="button-container">
                  <h2 class="category-captions"> Accessories </h2>
                  <button class="btn btn-light">See More</button>
                 </div>
            </div>
      </section>
      <section class="header-section">
            <div style="background-image: url('{{ url_for('static',filename='img/footwear.jpg') }}' );" class="header-container">
                 <div class="button-container">
                  <h2 class="category-captions"> Footwear </h2>
                  <button class="btn btn-light">See More</button>
                 </div>
            </div>
      </section>
{% endblock %}
