<!DOCTYPE html>
<html>

<head>
  <title>Log in</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/loginpage.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}">
  <script src="https://kit.fontawesome.com/f6e3bdc582.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
</head>
<body>

  <a class="navbar-brand" href="#">Logo</a>

  <nav class="account">
    <ul class="account">
      <a class="account" href="#"><i class="fas fa-bars"></i></a>
      <a class="account" href="/register/"><i class="far fa-user"></i></a>
      <a class="account" href="#"><i class="far fa-heart"></i></a>
      <a class="account" href="#"><i class="fas fa-shopping-bag"></i></a>
    </ul>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <!-- Login component -->
  <div class="container">
    <div class="login-register-form">
      <div class="panel-heading">
        <h2 style="padding:20px;" >ACCOUNT</h2>
        <div class="row">
          <div class="col-xs-6">
            <a href="#" class="active" onclick="showLogin();" id="login-view-btn">Login</a>

          </div>
          <div class="col-xs-6">
            <a href="#" onclick="showRegister();" id="register-view-btn">Register</a>
          </div>
        </div>
      </div>
      <div class="login-container" id="login-container">
        <form class="login-form">
          <div class="form-group">
            <p class="prompt-msg">Sign in with your email and password.</p>
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" required>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>

      <!-- Register component -->
      <div class="register-container" id="register-container">
        <form method="POST" action="" class="login-form">
          <p class="prompt-msg">Welcome, create an account with us!</p>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" aria-describedby="emailHelp" required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="First name" aria-describedby="emailHelp" required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Last name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Last name" aria-describedby="emailHelp" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" onchange="checkIfMatch();" class="form-control" placeholder="password" id="password1" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Re-enter Password</label>
            <input type="password" onchange="checkIfMatch();"  class="form-control" placeholder="password" id="password2" required>
            <div class="" id="password-error-container" >
              <span style="color:red;">Passwords do not match!</span>
            </div>
          </div>
          <button id="register-btn" type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>

    </div>
  </div>
  <script type="text/javascript">

    // Get the elements in the document
    var error_span_msg = document.getElementById('password-error-container'); //Get the span div for error messsage
    var register_btn = document.getElementById('register-btn'); //register button
    var register_container = document.getElementById('register-container'); //register container
    var login_container = document.getElementById('login-container') // login container
    var register_view_button = document.getElementById('register-view-btn'); //register view button
    var login_view_button = document.getElementById('login-view-btn') //login view button
    showLogin(); //Show login first
    hideSpan(); // Hide the error message span

    function checkIfMatch(){
      if(document.getElementById('password1').value !== document.getElementById('password2').value){ //if both password fields dont match then ... display the error message, disable the register button
          error_span_msg.style.display = '';
          register_btn.disabled = true;
      }
      else{
        error_span_msg.style.display = 'none'; //else enable the register button and hide the error message
        register_btn.disabled = false;
      }
    }

    function hideSpan(){ //Function to hide the span
      error_span_msg.style.display = 'none';
    }

    function showLogin() { //disable register and enable log in, change font sizes -- change bottom border
      register_container.style.display = 'none';
      login_container.style.display = '';
      login_view_button.style.borderBottom = "3px solid black";
      register_view_button.style.borderBottom = "1px solid grey"
    }

    function showRegister() { //disable login  and enable register -- change the bottom border
      register_container.style.display = '';
      login_container.style.display = 'none';
      register_view_button.style.borderBottom = "3px solid black";
      login_view_button.style.borderBottom = "1px solid grey"
    }
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>
