{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/shoppingcart.css') }}">
{% endblock %}

{% block title %} Shopping Cart {% endblock %}
{% block content %}
<div class="container">
  <h2>SHOPPING BAG</h2>
  <div class="row">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item</th>
          <th scope="col">Quantities</th>
          <th scope="col">Prices</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td><select class="custom-select" id="validationCustom04">
            <option value="1">1</option>
            <option value="2">2</option>
          </select></td>
          <td>@mdo</td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td><select class="custom-select" id="validationCustom04">
            <option value="1">1</option>
            <option value="2">2</option>
          </select></td>
          <td>@fat</td>
        </tr>

        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td><select class="custom-select" id="validationCustom04">
            <option value="1">1</option>
            <option value="2">2</option>
          </select></td>
          <td>@twitter</td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="row row-cols-2">
    <div class="col">Subtotal</div>
    <div class="col prices">Column</div>
    <div class="col">Taxes</div>
    <div class="col prices">Column</div>
    <div class="col total-prices">Total</div>
    <div class="col prices total-prices">Column</div>
  </div>

  <button type="button" class="btn btn-secondary">Check Out</button>
</div>

{% endblock %}